.aa{
    color: brown;
    text-transform: capitalize;  
}

.aa > u{
    color: blue;
    font-weight: bolder;
}

th{
    
    font-weight: bolder;
    letter-spacing: 1px;
    line-height: 40px;
}
tr{
    letter-spacing: 1px;
    line-height: 40px;
    
}
.bb{
    background-color: black;
    color: aliceblue;
}
table{
    width: 300px;
    text-align: center;
}
